In [147]:
import pandas as pd
import numpy as np

In [163]:
def question_matrix(f):
    q_list = []
    with open(f) as f:
        for line in f:
            line = line.strip()
            if line == 'Incorrect :-(':
                q_list.append(0) 
            elif line == 'Correct!':
                q_list.append(1)
            elif line == 'Unknown words!':
                q_list.append('U')
    return q_list

In [164]:
df = pd.read_csv('errors.csv')
df.drop(df.columns[0], axis=1, inplace=True)

file_list = ["glove27B_twitter_200_e.txt", "glove27B_twitter_200_c.txt", "glove42b_300_e.txt", "glove42b_300_c.txt","glove840b_300_e.txt", "glove840b_300_c.txt"]


for f in file_list:
    df[f] = pd.Series(question_matrix(f))

numerical = df.columns

In [165]:
df.replace('U', np.NaN, inplace=True)
df = df.apply(pd.to_numeric)
df.sum()

glove100_c.txt                139.0
glove100_e.txt                128.0
glove200_c.txt                152.0
glove200_e.txt                127.0
glove300_c.txt                155.0
glove300_e.txt                127.0
glove50_c.txt                 133.0
glove50_e.txt                 119.0
w2v_c.txt                     158.0
w2v_e.txt                     119.0
glove27B_twitter_200_e.txt     81.0
glove27B_twitter_200_c.txt     97.0
glove42b_300_e.txt            141.0
glove42b_300_c.txt            166.0
glove840b_300_e.txt           135.0
glove840b_300_c.txt           183.0
dtype: float64

In [166]:
mdf = pd.read_csv('pos_and_src.txt')
mdf.columns = [col.strip() for col in mdf.columns]
for col in mdf.columns:
    mdf[col] = mdf[col].str.strip()

In [167]:
mdf['same_POS'] = mdf["POS1"] == mdf["POS2"]
categorical = mdf.columns
mdf.head()

  POS1 POS2 Source  same_POS
0    v    n    190     False
1    n    n    190      True
2    n    n    190      True
3    n    n    190      True
4    n    n    190      True

In [168]:
print(df.shape)
print(mdf.shape)

(373, 16)
(373, 4)

In [169]:
for col in mdf.columns:
    df[col] = mdf[col]
df.head()

,glove100_c.txt,glove100_e.txt,glove200_c.txt,glove200_e.txt,glove300_c.txt,glove300_e.txt,glove50_c.txt,glove50_e.txt,w2v_c.txt,w2v_e.txt,glove27B_twitter_200_e.txt,glove27B_twitter_200_c.txt,glove42b_300_e.txt,glove42b_300_c.txt,glove840b_300_e.txt,glove840b_300_c.txt,POS1,POS2,Source,same_POS
0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,v,n,190,False
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,n,n,190,True
2,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,n,n,190,True
3,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,n,n,190,True
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,n,n,190,True

In [170]:
print(df[numerical].sum(axis=0))
print("")
print(df[numerical].sum(axis=0) / 373)

glove100_c.txt                139.0
glove100_e.txt                128.0
glove200_c.txt                152.0
glove200_e.txt                127.0
glove300_c.txt                155.0
glove300_e.txt                127.0
glove50_c.txt                 133.0
glove50_e.txt                 119.0
w2v_c.txt                     158.0
w2v_e.txt                     119.0
glove27B_twitter_200_e.txt     81.0
glove27B_twitter_200_c.txt     97.0
glove42b_300_e.txt            141.0
glove42b_300_c.txt            166.0
glove840b_300_e.txt           135.0
glove840b_300_c.txt           183.0
dtype: float64

glove100_c.txt                0.372654
glove100_e.txt                0.343164
glove200_c.txt                0.407507
glove200_e.txt                0.340483
glove300_c.txt                0.415550
glove300_e.txt                0.340483
glove50_c.txt                 0.356568
glove50_e.txt                 0.319035
w2v_c.txt                     0.423592
w2v_e.txt                     0.319035
glove27B_twitter_200_e.txt    0.217158
glove27B_twitter_200_c.txt    0.260054
glove42b_300_e.txt            0.378016
glove42b_300_c.txt            0.445040
glove840b_300_e.txt           0.361930
glove840b_300_c.txt           0.490617
dtype: float64

In [172]:
df.pivot_table(values=numerical, columns=categorical[-1]).to_csv("same_vs_different_POS_ACC.csv")

In [157]:
df.pivot_table(values=numerical, columns=categorical[1])

POS2                        a         n    r         v
glove100_c.txt       0.311111  0.382143  1.0  0.414634
glove100_e.txt       0.333333  0.357143  1.0  0.292683
glove200_c.txt       0.333333  0.407143  0.0  0.560976
glove200_e.txt       0.288889  0.350000  0.0  0.390244
glove300_c.txt       0.311111  0.428571  1.0  0.487805
glove300_e.txt       0.244444  0.360714  0.0  0.365854
glove42b_300_c.txt   0.395833  0.444840  1.0  0.500000
glove42b_300_e.txt   0.416667  0.355872  0.0  0.500000
glove50_c.txt        0.311111  0.350000  1.0  0.487805
glove50_e.txt        0.333333  0.307143  1.0  0.414634
glove840b_300_c.txt  0.458333  0.487544  1.0  0.547619
glove840b_300_e.txt  0.375000  0.352313  0.0  0.428571
w2v_c.txt            0.361702  0.432727  1.0  0.500000
w2v_e.txt            0.319149  0.327273  0.0  0.333333

In [65]:
df.pivot_table(values=numerical, columns=df[categorical])

                POS1    POS2    Source
glove100_c.txt  a       a       190       0.500000
                                KS        0.600000
                                ML:       0.187500
                        n       190       0.250000
                                KS        0.230769
                                ML:       0.687500
                        v       190       0.166667
                                KS        1.000000
                                ML:       0.000000
                n       a       190       0.500000
                                KS        0.000000
                                ML:       0.285714
                        n       190       0.475728
                                KS        0.375000
                                ML:       0.298246
                        v       190       0.222222
                                KS        0.250000
                                ML:       0.666667
                v       a       190       0.250000
                                KS        0.500000
                                ML:       0.250000
                        n       190       0.304348
                                KS        0.166667
                                ML:       0.166667
                        r       190       1.000000
                        v       190       0.777778
                                KS        0.000000
                                ML:       0.600000
glove100_e.txt  a       a       190       0.000000
                                KS        0.600000
                                            ...
w2v_c.txt       v       v       KS        0.666667
                                ML:       0.400000
w2v_e.txt       a       a       190       0.500000
                                KS        0.666667
                                ML:       0.250000
                        n       190       0.409091
                                KS        0.307692
                                ML:       0.250000
                        v       190       0.333333
                                KS        1.000000
                                ML:       1.000000
                n       a       190       0.500000
                                KS        0.000000
                                ML:       0.000000
                        n       190       0.380000
                                KS        0.343750
                                ML:       0.228070
                        v       190       0.200000
                                KS        0.000000
                                ML:       0.666667
                v       a       190       0.600000
                                KS        0.500000
                                ML:       0.000000
                        n       190       0.347826
                                KS        0.500000
                                ML:       0.000000
                        r       190       0.000000
                        v       190       0.555556
                                KS        0.333333
                                ML:       0.000000
Length: 280, dtype: float64

In [162]:
df.to_csv("errors_with_metadata.csv", index=False)